/* ProductModal.css */

.custom-modal-dialog {
  height: 100vh !important;
  /* Ajusta la altura del modal al 80% del viewport height */
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-content {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  /* Asegura que el contenido sea desplazable si excede la altura */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-modal-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* Centra el texto dentro del modal */
}

.custom-modal-header,
.custom-modal-footer {
  text-align: center;
}